events {
    worker_connections 1024;
}

http {
    server {
        listen 80;

        location / {
            root /usr/share/nginx/html;
            index index.html;
        }

        location /api/probe/ {
            proxy_pass http://${PUBLIC_PROBE_IP}:${PUBLIC_PROBE_PORT}/;
        }

        location /api/ {
            proxy_pass http://${SERVICE_API_IP}:${SERVICE_API_PORT}/;
        }
    }
}
